.nav-link{
    font-size: 20px!important;
}
.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
} 
.title  
{  margin-bottom: 20px;  
    padding:20px; 
}  
.owl-carousel.owl-drag .owl-item {
    height:510px;
}
.img {width:100%;}  